@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inspiration&family=Licorice&display=swap');

%inika {
    font-family: 'Inika';
}

%inspiration {
    font-family: 'Inspiration';
}

%licorice {
    font-family: 'Licorice';
}