@use "../../Styles/_placeholders.scss" as *;
@use "../../Styles/_variables.scss" as *;



.footerStyle {
    background-color: $darkgrey;

    // display: flex;
    // flex-direction: row;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @extend %inika;
    color: $light;
}