@use "../../Styles/_placeholders.scss" as *;
@use "../../Styles/_variables.scss" as *;

.coffeeIconStyle {
  background-color: $dark;
  z-index: 9;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: auto;
  padding: 0;
  
  

    h2 {
      @extend %licorice;
      color: $light;
      font-weight: 400;
      z-index: 3;
      text-decoration: none;
      width: 100%;
      margin: 0;
      margin-top: 0;
      padding: 0;
     
    }
   

  img {
    width: 4rem;
    z-index: 10;
    display: absolute;
    justify-content: center;
    align-items: center;
    // margin-top: 5rem;
  }
}
